@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
#header {
  position: fixed;
  width: 100%;
  z-index: 11;
}
.nav {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &-title {
      color: rgb(250, 250, 250);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: center;
      a {
        color: rgb(250, 250, 250);
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        text-decoration-line: underline;
      }
    }
    select {
      background: transparent;
      /* Title/14PX Regular */
      color: rgb(250, 250, 250);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  &__end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    &-logo {
      h2 {
        font-family: "Inter", sans-serif !important;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 3%;
        text-align: left;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      gap: 50px;
    }
    &__link {
      /* Title/16PX Regular */
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
    }
    &-search {
      width: 243px;
      border-radius: 4px;
      background: rgb(245, 245, 245);
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding: 0 12px 0 20px;
      input {
        width: 100%;
        background-color: transparent;
        /* Title/12PX Regular */
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
        height: 100%;
      }
    }
    .end {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &-card {
      display: flex;
      align-items: center;
      gap: 30px;
      a {
        position: relative;
        svg {
          color: #000;
          font-size: 20px;
        }
        span {
          position: absolute;
          color: rgb(255, 255, 255);
          border-radius: 20px;
          width: 20px;
          top: -8px;
          left: 13px;
          background: rgb(219, 68, 68);
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: center;
        }
      }
      svg {
        font-size: 22px;
      }
    }
  }
}

#nav__top {
  /* Button */
  background: rgb(0, 0, 0);
  height: 50px;
}

#nav__end {
  height: 80px;
  /* Button */
  border: 0.5px solid rgb(0, 0, 0);
}
